@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* YELLY COLORS */
    --yelly:hsl(48, 100%, 50%);
    --soft-yelly: hsl(48, 80%, 70%);
    --light-yelly:hsl(48, 100%, 75%);
    --gold: hsl(42, 100%, 45%);
    --muted-yelly:hsl(48, 60%, 40%);
    /* BLACK COLORS */
    --pure-black: hsl(0, 0%, 4%);
    --soft-black: hsl(0, 0%, 20%);
    --dark-gray: hsl(0, 0%, 35%);
    --graphite-gray: hsl(0, 0%, 50%);
    --off-black: hsl(0, 0%, 10%);
    --white: hsl(0, 0%, 93%);
    /* WINE COLORS */
      ;
      --winny: hsl(330, 100%, 50%);
      --soft-wine: hsl(330, 80%, 70%);
      --light-wine: hsl(330, 100%, 75%);
      --muted-wine: hsl(330, 60%, 40%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* YELLY COLORS */
    --yelly:hsl(48, 100%, 50%);
    --soft-yelly: hsl(48, 80%, 70%);
    --light-yelly:hsl(48, 100%, 75%);
    --gold: hsl(42, 100%, 45%);
    ---muted-yelly:hsl(48, 60%, 40%);
    /* BLACK COLORS */
    --pure-black: hsl(0, 0%, 4%);
    /* --soft-black: hsl(0, 0%, 20%); */
    --soft-black: hsl(0, 0%, 15%);
    --darker-gray: hsl(0, 0%, 25%);
    --dark-gray: hsl(0, 0%, 35%);
    --graphite-gray: hsl(0, 0%, 50%);
    --off-black: hsl(0, 0%, 10%);
    --white: hsl(0, 0%, 93%);
    /* WINE COLORS */
      ;
      --winny: hsl(330, 100%, 50%);
      --soft-wine: hsl(330, 80%, 70%);
      --light-wine: hsl(330, 100%, 75%);
      --muted-wine: hsl(330, 60%, 40%);
  }
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--pure-black);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, var(---muted-yelly), var(--muted-wine));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, var(--soft-yelly), var(--soft-wine));
}

body {
  color: var(--yelly);
  background: var(--soft-black);
  min-height: 100vh;
}
